.theme-toggle {
    display: flex;
    width: 8rem;
    background-color: #F6F7F8;
    border: #EDEFF1 1px solid;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.day-mode {
    color: #E4D335;
    transition: 0.2s;
}

.night-mode {
    color: #fff;
    transition: 0.2s;
}

.day-mode, .night-mode {
    display: flex;
    margin: 0;
    padding: 0 0.8rem;
    font-size: 1.6rem;
}

#light .day-mode {
    font-size: 2rem;
    background-color: #1484D6;
    border: #1484D6 1px solid; 
    border-radius: inherit;
    padding: 4px 1.4rem;
}

#light .night-mode {
    color: #BABABA !important;
    transition: 0.2s;
}

#dark .night-mode {
    font-size: 2rem;
    background-color: #1484D6;
    border: #1484D6 1px solid; 
    border-radius: inherit;
    padding: 4px 1.4rem;
}

#dark .day-mode {
    color: #BABABA !important;
    transition: 0.2s;
}